.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.modal-window {
  background-color: #fff !important;
  border-radius: 5px;
  max-width: 500px;
  min-height: 50px;
  margin: 100px auto;
}

.modal-content {
  margin: 10px auto;
}

.close-modal-button {
  margin-top: -10px;
}
